#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.header>div>b>h1{
  
  font-weight: 600 !important;
  line-height: 1.25;
  font-size: 1.125rem;
  
}
.header>div>h1{
  font-weight: 600 !important;
  line-height: 1.25;
  font-size: 1.125rem;
}

.header>div>p:first-of-type{
  font-weight: normal !important;
  font-size: 0.875rem;
  line-height: 1.25rem;

  
}

.main{
  right: 20%
}

.search, .option{
  background-color: #302f2f ;
}

.header>div>p:last-of-type{
  font-weight: 500 !important;
  line-height: 1.25 !important;
  font-size: 1rem !important;
}

.tag{
  font-size: 1.5rem;
  line-height: 2rem;
}

.header>div>b>p{
  font-weight: normal !important;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.header>div>p>b{
  font-weight: 500 !important;
  line-height: 1.25;
  font-size: 1rem;
  padding-top: 8px;
}


.container{
  background-color: #302f2f;
}
.container:hover{
  background-color: #3d3c3c;
}